@model TruckViewModel


@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="truck.Name" class="control-label"></label>
                <input asp-for="truck.Name" class="form-control" />
                <span asp-validation-for="truck.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="truck.Value" class="control-label"></label>
                <input asp-for="truck.Value" class="form-control" />
                <span asp-validation-for="truck.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="truck.Date" class="control-label"></label>
                <input asp-for="truck.Date" class="form-control" />
                <span asp-validation-for="truck.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="truck.Model.Id" class="control-label">Model</label>
                <select asp-for="truck.Model.Id" asp-items="@(new SelectList(Model.modelos,"Id","Name"))" class="form-control">
                    @*<option>Please select one</option>*@
                </select>
                <span asp-validation-for="truck.Model.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
