@{
    ViewData["Title"] = "Home Page";
}

<h1>Diogo Alexandro Pereira</h1>
<a href="https://sites.google.com/view/diogoalexp/" rel="stylesheet" />Apresentação</a>
<br /><br />
<b>Executar o script DEPLOY.SQL</b><br />
<b>Volvo.Web é o projeto principal e deve ficar como StartUP</b><br />
<b>O sistema possui uma API:</b><br />
../api/Truck/<br />
../api/Model/<br />
<br />

<b>Requisito principal</b><br />
Como usuário, eu necessito de um cadastro de caminhões, onde eu possa:<br />
•	Visualizar os caminhões cadastrados;<br />
•	Atualizar as informações de um caminhão;<br />
•	Excluir um caminhão;<br />
•	Inserir um novo caminhão.<br />
<br />
<b>Requisito secundário</b><br />
Poderão existir vários modelos de caminhões.<br /><br />

<b>Requisitos técnicos</b><br />
•	Utilizar ASP.NET Core;<br />
•	Utilizar base de dados local;<br />
•	Criar testes unitários;<br />
O código fonte deverá ser disponibilizado no GitHub como um repositório público do próprio candidato.<br />
<br />